$open-card-shift: calc((var(--login-page-tab) / 3 * -1));

.tabNav {
  display: contents;
  @media (min-width: 864px) {
    display: flex;
  }
}

.tabLabel {
  &[id='login'] {
    order: 2;
  }
  &[id='signin'] {
    order: 0;
  }
}

.tabPanel {
  &[id='login'] {
    order: 3;
  }
  &[id='signin'] {
    order: 1;
  }
}

.tabPanel {
  transition: height 0.5s ease-in;
  height: 0;
  overflow: hidden;
  @media (min-width: 864px) {
    display: none;
    transition: none;
  }
  &.open {
    height: 100%;
    display: block;
  }
}

.tabLabel {
  height: var(--login-page-tab);
  padding: calc((var(--login-page-tab) - 3rem) / 2) 2rem;
  font-size: calc(var(--login-page-tab) / 3);
  color: #ffffff;
  background-color: #662549;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  line-height: calc(var(--login-page-tab) / 2);
  position: relative;
  @media (min-width: 864px) {
    flex-grow: 1;
    text-align: center;
    &[aria-selected='false'] {
      background-color: unset;
    }
  }

  &:first-of-type ~ & {
    margin-top: $open-card-shift;
    box-shadow: 0px -3px 4px -2px rgba(0, 0, 0, 0.75);
    @media (min-width: 864px) {
      margin-top: 0;
      box-shadow: unset;
    }
  }
}
