.button {
  font-weight: 700;
  font-size: 2rem;
  height: 4rem;
  width: 14rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  color: var(--white);
  background-color: var(--aubergine);
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 3px 3px 2px -2px rgba(0, 0, 0, 0.3);
  &:hover {
    filter: brightness(110%);
  }
  &:focus {
    outline: 1px solid var(--white);
  }
}
