.form {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100% - 4rem);
  align-items: flex-end;
  @media (min-width: 864px) {
    margin: 3rem;
  }
  section {
    width: 100%;
    @media (min-width: 864px) {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}
